@font-face {
  font-family: 'Oswald';
  src: url('fonts/oswald.woff') format('woff'),
       url('fonts/oswald.woff2') format('woff2');
}

@font-face {
  font-family: 'Permanent Marker';
  src: url('fonts/permanentmarker-regular.woff') format('woff'),
       url('fonts/permanentmarker-regular.woff2') format('woff2');
}

:root {
  background-color: #333;
  --right-side-padding: 36px;
  font-family: 'Oswald', sans-serif;
}

body {
  display:flex;
  flex-direction: column;   /* mobile layout */
  margin:0 auto;
  background-color: #e9e9e9
}

.splash-image {
  background-image: url("./annie-spratt-unsplash.jpg");
  background-size: cover;
  display:flex;
  flex-direction: column;
  justify-content:space-between;
}

h1 {
  color: #fff;
  margin: 8px auto;
  padding:8px 16px;
  text-align:center;
  margin-bottom:auto;
  background-color: rgba(20, 29, 20, 0.85);
  border-radius: 16px;
  font-size:4em;
  font-family: 'Permanent Marker', sans-serif;
}

svg {
  color: green;
  scale: 2.3;
  position: relative;
  top: -13px;
}

cite {
  color:#fff;
  text-align: right;
  font-size:.8em;
  margin: 6px;
  align-self:flex-end;
}

cite > a {
  color: white;
}

label {
  font-size: .7em;
  display:block;
}

input {
  width:210px;
}

.grid {
  display:grid;
  grid-template-columns: 210px;
  grid-template-rows: 50px 50px 50px 50px 50px 50px;
  column-gap: 50px;
  row-gap: 20px;
  justify-content:center;
}

form {
  background-color: white;
  padding: 5px auto 15px;

}

.right-side > p {
  padding-left: auto;
}

button {
  display:block;
  margin: 30px auto 0px;
  padding:8px 30px;
  background-color: #1e9dbd;
  color: white;
  border-radius: 8px;
  box-shadow:none;
  font-size:1em;
}

p {
  font-size: 1.3em;
  font-weight: bold;
  text-align:center;
}

.login {
  margin-top: 24px;
  font-size: .8em;
}

input:invalid.user-input,
input:invalid.validation {
  border: 1px solid red;
}

.pword-match {
  margin: 0;
  font-size: .6em;
  font-weight: normal;
  color: red;
}

label[aria-required="true"]::after {
  content: '*';
}

@media only screen and (min-width: 938px) {
  h1 {
    margin:20vh 30px 0;
  }
  
  body {
    flex-direction: row;
    width: 70vw;
    min-width:939px;
    height:100vh;
  }

  .splash-image{
    width:400px;
    flex: 0 0 auto;
  }

  .right-side {
    align-self:center;
  }

  .grid {
    grid-template-columns: 210px 210px;
    grid-template-rows: 50px 50px 50px;
    justify-content:start;
  }
  
  form {
    padding: 5px 0 15px var(--right-side-padding);
  }

  .right-side > p {
    padding-left: var(--right-side-padding);
  }

  button {
    margin-left: var(--right-side-padding);
  }

  p {
    margin-right: 15%;
    text-align:left;
  }
}

